[hidden] { display:none; }

html {
    --main-bg-color: #18191b;
    --main-color: #cad2da;
    --drag-color: #423946;
    --header-color: #111113;
    --main-gradient: radial-gradient(rgb(35, 35, 45), rgb(20, 20, 25));
    --incomplete-color: orange;
    --complete-color: #00F300;
    scrollbar-color: var(--drag-color) var(--main-bg-color);
    scrollbar-width: thin;
    color-scheme: dark;
}
html, body {
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font: 18px Ubuntu, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
}
header {
    font-size: calc(0.5em + 0.5vw);
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.page-title {
    padding: 0.2em;
    margin: 0;
    margin-left: 30vw;
}
.dragging {
    background: var(--drag-color) !important;
}
.center-content {
    display: flex;
    justify-content: center; /* Main Axis */
    align-items: center; /* Cross Axis */
}
.center-content-x {
    display: flex;
    justify-content: center; /* Main Axis */
}
.center-content-y {
    display: flex;
    align-items: center; /* Cross Axis */
}
.emoji {
    font-family: "Noto Emoji", "Apple Color Emoji","Segoe UI Emoji","Noto Color Emoji","Android Emoji","EmojiSymbols","EmojiOne Mozilla","Twemoji Mozilla","Segoe UI Symbol","Noto Color Emoji Compat",emoji;
    font-weight: normal;
    user-select: none;
    margin-right: 10px;
}
.github-link {
    justify-self: end;
    background: #010409;
    width: calc(2em + 1vw);
    height: calc(2em + 1vw);
    border-radius: 50%;
    margin-right: .5em;
}
.github-link>svg {
    font-size: 0.8em;
    fill: rgb(240, 246, 252);
    width: 85%;
    height: 85%;
}
canvas {
    margin-top: 0.7vh;
    margin-left: 0.5vw;
    max-width: 96%;
}
#transactions {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
}
.transactions {
    display: none;
    border: 2px solid rgb(49, 49, 53);
    width: fit-content;
    max-height: 80%;
    overflow-y: scroll;
}
#transactions[hidden] { display:none; }
table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: "Ubuntu", system-ui;
}
table th {
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
table td {
    border-right: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
    table th:first-child,
    table td:first-child {
    border-left: 1px solid var(--main-color);
}
td, th {
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
}
.table-content-wrapper {
    overflow-y: auto;
    max-height: 75vh;
}
.col-type {
    color: #999;
    font-size: 0.8em;
    display: block;
}
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(14, 14, 16);
}
#transaction-input, #period {
    margin-top: 8px;
}
.named {
    box-shadow: 0 0 5px black;
    margin-top: 5px;
    background: var(--main-gradient);
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px 4px 4px;
    user-select: none;
    -webkit-user-select: none;
}
.emoji {
    color: var(--incomplete-color);
}
.header.fully-filled .emoji {
    color: var(--complete-color);
}
.btn-wrapper {
    display: flex;
}
.page-bar {
    justify-content: left;
    padding-top: 0.3vh;
    flex-wrap: wrap;
}
.ellipsis {
    user-select: none;
}
.icon {
    width: 1.2em;
    height: 1.2em;
    margin-left: 25px;
    fill: rgb(240, 246, 252);
    background-color: rgb(14, 14, 15);
    border-radius: 0.3em;
    box-shadow: 0 0 4px black;
    user-select: none;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 1px solid transparent;
    padding: 1px;
}
.icon:hover {
    box-shadow: 0 0 2px black;
    background-origin: padding-box;
}
.icon:active {
    box-shadow: 0 0 2px black inset;
    background-origin: content-box;
}
.icon-expand {
    background-image: url("../../assets/arrows-expand.svg");
}
.icon-collapse {
    background-image: url("../../assets/arrows-collapse.svg");
}
.icon-edit {
    background-image: url("../../assets/pencil.svg");
}
.icon-done {
    background-image: url("../../assets/check-mark.svg");
}
.icon-delete  {
    background-image: url("../../assets/trash-bin.svg");
}
.icon-add {
    background-image: url("../../assets/plus.svg");
}
.icon-left {
    background-image: url("../../assets/arrow-left.svg");
}
.icon-right {
    background-image: url("../../assets/arrow-left.svg");
    transform: rotate(180deg);
}
.page-btn {
    min-width: 1em;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.1em;
    font-weight: bolder;
}
.page-btn, .icon-left, .icon-right {
    margin: 0 0.25em;
}
.page-selected {
    border: 1px solid var(--main-color);
}
.content {
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.8%;
}
.bank-title, .acc-title, .file-title {
    margin: 0;
    max-width: 80%;
}
.setting {
    margin: 2px 6px 8px 0px;
}
.setting[type=checkbox] {
    width: 1em;
    height: 1em;
}
.hiddenAnimated {
    height: 0px;
}
#export-btn {
    margin: 8px;
}
#bank-list {
    margin-left: 8px;
    max-width: 800px;
}
.bank-container {
    transition: height 1s;
    interpolate-size: normal;
}
.transaction-file-container > .header:not(.fully-filled) .icon-edit,
:not(.transaction-file-container) > .header:not(.fully-filled) .icon-expand {
    border: 1px solid var(--incomplete-color);
}
.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    -webkit-touch-callout: none; /* Disable callout menu on iOS */
}
*[draggable] {
    cursor: grab;
    touch-action: pan-y;
}
.drag-over {
    outline: calc(1px + 0.2vw) solid var(--drag-color);
    background: radial-gradient(var(--drag-color), var(--main-bg-color));
}
@keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #f8b332;
  }
  100% {
    background-color: transparent;
  }
}
.flash-highlight {
  animation: flash 1s linear forwards;
}
.tab-bar {
    justify-content: left;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: var(--header-color);
    position: sticky;
    top: 0;
    z-index: 1;
    overflow-y: clip;
    padding-top: 1px;
}
.tab-bar > div {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 200px;
}
.tab-bar > div:has(input:checked) {
    background-color: var(--header-color);
}
.tab-bar label {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.2778em;
    margin: 0;
    border: 0;
    
    cursor: pointer;
    background-color: var(--header-color);
    /* 
    border-bottom-right-radius: 0.8em; */
}
.tab-bar > div:has(input:checked) + div:has(input:not(:checked)) {
    border-bottom-left-radius: 0.8em;
}
.tab-bar > div:has(input:not(:checked)) + div:has(input:not(:checked)) {
    border-left: 1px solid var(--main-bg-color);
}
.tab-bar > div:has(input:checked) > label {
    background-color: var(--main-bg-color);
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    cursor: default;
    box-shadow: 0px 0px 4px 10px #00000033;
    outline: 1px solid #777;
    clip-path: inset(-15px -15px 0px -15px);
    z-index: 2;
}
.tab-content { }
.tab-bar input[type="radio"] {
    appearance: none;
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
    margin: 0;
}
label[for="transaction-input"] {
    display: block;
    padding-top: 1vh;
    padding-bottom: 1vw;
}
.context-menu {
    position: absolute;
    background-color: var(--main-bg-color);
    box-shadow: 0px 0px 5px 5px #00000033;
    padding: 15px 0px;
    border-radius: 10px;
}
.context-menu-item {
    padding: 10px 15px;
    background: transparent;
    border: 0;
    font-size: 14px;
}
.context-menu-item:hover {
    background-color: #3e4046;
}
.graph-container:has(>.activity-graph) {
    padding-bottom: .8vh;
}
.activity-graph {
    position: absolute;
    top: 0;
    width: 95%;
    margin-top: 0;
    height: 1px;
    margin-left: 2.5%;
}




@media only screen and (max-width: 600px) {
    header {
        font-size: 3vw;
    }
    .page-title {
        margin-left: 4vw;
    }
    .content {
        padding-bottom: 0.5%;
    }
    .header .icon {
        margin-left: 8px;
    }
    .table-content-wrapper {
        max-height: 50vh;
    }
    canvas, #bank-list {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }
    input[type="text"], select {
        display: block;
    }
}