html {
    --main-bg-color: rgb(27, 27, 37);
    --main-color: #cad2da;
    --drag-color: #423946;
    scrollbar-color: var(--drag-color) var(--main-bg-color);
    scrollbar-width: thin;
}
body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font: 18px Ubuntu, sans-serif;
    margin: 0;
}
header {
    font-size: calc(0.5em + 0.5vw);
    background-color: #111113;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.page-title {
    padding: 0.2em;
    margin: 0;
    margin-left: 30vw;
}
.center-content {
    display: flex;
    justify-content: center; /* Main Axis */
    align-items: center; /* Cross Axis */
}
.center-content-x {
    display: flex;
    justify-content: center; /* Main Axis */
}
.center-content-y {
    display: flex;
    align-items: center; /* Cross Axis */
}
.emoji {
    font-family: "Noto Emoji", "Apple Color Emoji","Segoe UI Emoji","Noto Color Emoji","Android Emoji","EmojiSymbols","EmojiOne Mozilla","Twemoji Mozilla","Segoe UI Symbol","Noto Color Emoji Compat",emoji;
    font-weight: normal;
    user-select: none;
    margin-right: 10px;
}
.github-link {
    justify-self: end;
    background: #010409;
    width: calc(2em + 1vw);
    height: calc(2em + 1vw);
    border-radius: 50%;
    margin-right: .5em;
}
.github-link>svg {
    font-size: 0.8em;
    fill: rgb(240, 246, 252);
    width: 85%;
    height: 85%;
}
canvas {
    margin-top: 0.7vh;
    margin-left: 0.5vw;
    max-width: 96%;
}
.transactions {
    display: none;
    border: 2px solid rgb(49, 49, 53);
    width: fit-content;
    max-height: 80%;
    overflow-y: scroll;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: "Ubuntu", system-ui;
}
table th {
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
table td {
    border-right: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
    table th:first-child,
    table td:first-child {
    border-left: 1px solid var(--main-color);
}
td, th {
    padding-left: 3px;
}
.table-content-wrapper {
    overflow-y: auto;
    max-height: 75vh;
}
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(14, 14, 16);
}
#transaction-input, #period {
    margin-top: 8px;
}
div:has(>.header) {
    box-shadow: 0 0 5px black;
    margin-top: 5px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px 4px 4px;
    user-select: none;
    -webkit-user-select: none;
}
.file-title .emoji {
    color: orange;
}
.header.fully-filled .emoji {
    color: green;
}
.btn-wrapper {
    display: flex;
}
.icon {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    fill: rgb(240, 246, 252);
    background-color: rgb(14, 14, 15);
    border-radius: 25%;
    box-shadow: 0 0 4px black;
    user-select: none;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 1px solid transparent;
    padding: 1px;
}
.icon:hover {
    box-shadow: 0 0 2px black;
    background-origin: padding-box;
}
.icon:active {
    box-shadow: 0 0 2px black inset;
    background-origin: content-box;
}
.icon-expand {
    background-image: url("../../assets/arrows-expand.svg");
}
.icon-collapse {
    background-image: url("../../assets/arrows-collapse.svg");
}
.icon-delete  {
    background-image: url("../../assets/trash-bin.svg");
}
.icon-add  {
    background-image: url("../../assets/plus.svg");
}
.content {
    margin-left: 10px;
}
.bank-title, .acc-title, .file-title {
    margin: 0;
    max-width: 80%;
}
.setting {
    margin: 6px 6px 2px 0px;
}
.setting[type=checkbox] {
    width: 21px;
    height: 21px;
}
.hiddenAnimated {
    height: 0px;
}
#bank-list {
    margin-left: 8px;
    max-width: 800px;
}
*[draggable] {
    cursor: grab;
}
.dragging {
    background-color: var(--drag-color);
}
.drag-over {
    outline: calc(1px + 0.2vw) solid var(--drag-color);
    background: radial-gradient(var(--drag-color), var(--main-bg-color));
}
@keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #f8b332;
  }
  100% {
    background-color: transparent;
  }
}
.flash-highlight {
  animation: flash 1s linear forwards;
}
@media only screen and (max-width: 600px) {
    header {
        font-size: 3vw;
    }
    .page-title {
        margin-left: 4vw;
    }
    .content {
        margin-left: 1%;
        margin-right: 1%;
    }
    .icon {
        margin-left: 8px;
    }
    .table-content-wrapper {
        max-height: 50vh;
    }
    canvas, #bank-list {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }
    input[type="text"], select {
        display: block;
    }
}